*{

    margin: 0;

    padding: 0;

    box-sizing: border-box;

}

html{

    scroll-behavior: smooth;

}

.logo img {
    height: 100px;
    width: auto;
}


.search input {
    padding: 10px 10px;
    margin-right: 30px;
    text-align: center;
    border-radius: 20px;
}
.CVV{
    border-radius: 100px;
    width: 150px;
  background-color: blue;
  color: aliceblue;
  font-size: large;
  font-weight: bold;
}

span{
    color:blue;
    font-weight: bold;
}


.hero-section {
    border: 2px solid rgb(0, 255, 38);
    display: flex;
    justify-content: space-between;
    padding: 200px;
    height: 800px; 
    background-color: aquamarine;
    background-image: url("mine.jpg"); 
    background-repeat: no-repeat;
    background-size:auto auto;
  
}

body{
    margin: 0;
    font-family: system-ui;
}
.About{
    border: 2px solid blue;
    height: 500px;
}
.Skills{
    border: 2px solid blue;
    height: 500px;
}
.Contact{
    border: 2px solid blue;
    height: 500px;
}